
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* CSS ile stil belirleme */
    body {
        
        
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 sütunlu bir grid */
        gap: 20px; /* Sütunlar ve satırlar arasındaki boşluk */
    }

        .gallery a {
            display: block;
        }

        .gallery img {
            max-width: 100%;
            max-height: 200px; /* Her bir resmin maksimum yüksekliği belirlenir */
            height: auto;
            margin-top: 10px;
        }
</style>

<h2 style="margin-top:50px;">Fotoğrafların Linkleri</h2>



<div class="gallery">
    <!-- Fotoğrafları ekleyin -->
    <a href="https://hizliresim.com/dnphjm7" target="_blank">
        <img src="~/Upload/100.jpg" alt="Açıklama 1">
    </a>
    <a href="https://hizliresim.com/78p2w4d" target="_blank">
        <img src="~/Upload/110.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/18d5j51" target="_blank">
        <img src="~/Upload/110.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/78p2w4d" target="_blank">
        <img src="~/Upload/120.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/tl5drdm" target="_blank">
        <img src="~/Upload/130.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/g4wg1fq" target="_blank">
        <img src="~/Upload/140.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/a460x47" target="_blank">
        <img src="~/Upload/150.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/3id5q4l" target="_blank">
        <img src="~/Upload/160.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/m32a2c6" target="_blank">
        <img src="~/Upload/170.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/scnmegz" target="_blank">
        <img src="~/Upload/180.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/jqwi7dk" target="_blank">
        <img src="~/Upload/aa.png" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/8htwr79" target="_blank">
        <img src="~/Upload/bb.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/1w5pi2k" target="_blank">
        <img src="~/Upload/cc.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/8htwr79" target="_blank">
        <img src="~/Upload/bb.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/8htwr79" target="_blank">
        <img src="~/Upload/bb.jpg" alt="Açıklama 2">
    </a>
    <a href="https://hizliresim.com/2hjhn8e" target="_blank">
        <img src="~/Upload/dukkan.jpeg" alt="Açıklama 2">
    </a>
    

</div>

